/**
 * Site-specific SCSS
 */
/* Variables */
/* mixins */
.center-both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dark-text {
  color: #333;
  text-shadow: 2px 2px #ccc; }

/* elements */
a, a:hover, a:visited, a:active {
  color: azure; }

/* Site classes */
.main {
  position: fixed;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  top: 50px;
  bottom: 50px; }

.feature {
  color: azure;
  text-shadow: 2px 2px black; }
  @media (min-width: 768px) {
    .feature {
      min-height: 100vh;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 1.3em; } }

.header {
  background-color: rebeccapurple;
  color: azure; }
  .header .navbar-default {
    background-color: rebeccapurple;
    background-image: none;
    color: azure;
    border-radius: 0;
    border: none; }
    .header .navbar-default .navbar-header .navbar-brand {
      color: azure; }
      .header .navbar-default .navbar-header .navbar-brand .logo {
        display: inline;
        max-height: 25px; }
    .header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-nav > li > a:active, .header .navbar-default .navbar-nav > li > a:hover, .header .navbar-default .navbar-nav > li > a:visited {
      color: azure; }
    .header .navbar-default .navbar-nav > li.active {
      background-color: black; }

.footer {
  margin-top: 15px;
  padding: 7px;
  font-size: 0.8em;
  background-color: rebeccapurple;
  height: 100px;
  color: #ccc; }

/* containers for flexing */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.box-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 1024px) {
    .box-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      min-height: 50vh; } }

.box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 30vh; }
  @media (min-width: 1024px) {
    .box {
      min-width: 30vw;
      width: 30vw;
      min-height: 50vh; } }

.wrapper {
  max-width: 80%;
  margin: auto; }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 60%; } }

.wrapper-narrow {
  max-width: 40%;
  margin: auto; }

/* Section-specific treatments */
/* this will be fun, hey? */
/* The portfolio boxes are all clickable links.
       Without wanting to gin up some javascript and
       add onclick event listeners, I made them
       anchor tags instead. Since they're anchor tags,
       they can't contain any block elements directly,
       so I used spans. Turn everything back into blocks
       with CSS is easy.
*/
a.portfolio-box {
  display: block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  color: azure;
  text-shadow: 2px 2px black;
  height: 30vh;
  text-decoration: none; }
  @media (min-width: 1024px) {
    a.portfolio-box {
      height: 100%;
      min-height: 100%; } }
  a.portfolio-box .flapper-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30vh;
    /* min-height: 100%; */
    /* min-width: 100%; */
    background-color: rgba(102, 51, 153, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    @media (min-width: 1024px) {
      a.portfolio-box .flapper-wrapper {
        height: 100%;
        min-height: 100%; } }

.no-touchevents a.portfolio-box .flapper-wrapper {
  visibility: hidden;
  background-color: transparent;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms; }
.no-touchevents a.portfolio-box:hover {
  color: azure;
  text-decoration: none; }
  .no-touchevents a.portfolio-box:hover .flapper-wrapper {
    background-color: rgba(102, 51, 153, 0.75);
    visibility: visible; }

#webology {
  padding: 0 10px;
  background-color: #a679d2;
  color: #eee; }

#hireme {
  background-color: azure;
  padding: 10px; }

.call-to-action {
  background-image: none;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  padding: 0.5em;
  margin: 1.5em;
  border-radius: 15px;
  font-size: 2em;
  text-align: center;
  color: azure;
  text-shadow: 2px 2px #000; }

#contact {
  text-align: center; }

.social-icon-wrapper {
  max-width: 120px;
  margin: auto; }

a.social-icon {
  background-color: rebeccapurple;
  color: azure;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  margin: 10px auto;
  display: block;
  text-align: center;
  border-radius: 50%;
  text-shadow: none;
  font-size: 14px; }
  a.social-icon .text {
    visibility: hidden;
    width: 0;
    max-width: 0; }

.skosh {
  padding: 20px; }

.swaac-bg {
  background-image: url("../images/swaac.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.art-bg {
  background-image: url("../images/art.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.resume-bg {
  background-image: url("../images/resume.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.blog-bg {
  background-image: url("../images/blog.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.recipes-bg {
  background-image: url("../images/recipes.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.wiki-bg {
  background-image: url("../images/wiki.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about-bg, #about {
  background-image: url("../images/about.jpg");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

.map-bg, #contact {
  background-image: url("../images/map.png");
  background-color: #c0c0c0;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Bootstrap overrides */
.navbar {
  margin-bottom: 0; }

.btn {
  text-shadow: none; }

.btn-xl {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
  border-radius: 6px; }
